<?xml version="1.0" encoding="utf-8" ?>
<phpunit    bootstrap="vendor/autoload.php"
            colors="true"
            verbose="true"
            stopOnFailure="false">

    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>

        <testsuite name="edge-to-edge">
            <directory>tests/edge-to-edge</directory>
        </testsuite>
    </testsuites>

</phpunit>